<%- include("partials/header") %>

<div class="container">
  <div class="row justify-content-between">
    <div class="col-4">
      <h3><%= title %></h3>

        <img src=<%= image %> width="130%" height="450px"  alt="...">
        <p><%= description %></p>
        <p>Price: $<%= price %></p>
        <p>Condition: <%= condition %></p>


    </div>
    <div style="margin-top: 40px;" class="col-4">
      <% if (user === seller) { %>

        <div>
        <form action="/books/delete/<%= bookId %>" method="POST">
          <button type="submit" class="btn btn-warning">Delete Ad</button>
        </form>
        <br>
        <form action="/books/sold/<%= bookId %>" method="POST">
          <button type="submit" id="sold" class="btn btn-success">Mark as Sold</button>
        </form>
      </div>



      <% } else { %>
      <div class="card" style="width: 18rem; height: 350px;">

        <div class="card-body">
          <h5 class="card-title">Contact Seller</h5>
          <div class="input-group">
            <textarea class="form-control" aria-label="With textarea" cols="3" rows="8">Hi, I'm interested! Please contact me if this is still available.</textarea>
          </div>

        </div>
        <div class="card-body">
          <button class="btn btn-primary">Send Message</button>
        </div>
      </div>
      <% } %>

    </div>
  </div>
</div>



<div class="browse-books"><a href="/">Browse More Books</a></div>





<%- include("partials/footer") %>
