<%- include("partials/header") %>

<p><%= description %></p>
<p>$<%= price %></p>
<figure style="margin-top: 120px; "class="figure">
  <img src=<%= image %> width="400px" height="300px" class="figure-img img-fluid rounded" alt="...">
  <figcaption class="figure-caption"><%= title %></figcaption>
  <p><%= condition %></p>

</figure>

<a href="/">Browse More Books</a>

<% if (user === seller) { %>

<button class="btn"><a href="/books/delete/<%= bookId %>">Delete Ad</a></button>

<button id="sold" class="btn"><a href="/books/sold/<%= bookId %>">Mark as Sold</a></button>

<% } else { %>
<div class="card" style="width: 18rem;">
  <!--if seller show delete button => delete route whicih will dlete the book with book.id, button => mark is sold=> css changes  -->
  <div class="card-body">
    <h5 class="card-title">Contact Seller</h5>
    <p class="card-text"><textarea name="" placeholder="Your Messsage" id="" cols="25" rows="3">Hi, I'm interested! Please contact me if this is still available.</textarea></p>
  </div>
  <div class="card-body">
    <button class="btn btn-primary">Send Message</button>
  </div>
</div>
<% } %>

<%- include("partials/footer") %>
