<%- include("partials/header") %>

<section>
  <div class= "container">

    <div class="row my-4">
      <% books.forEach(function(book){ %>

        <div class="col-md-4 d-flex">

          <div class="card mb-4 shadow-sm style="width: 18rem;">
          <img  class="card-img-top img-fluid" src="<%= book.image %>" class="card-img-top" style="width: 25rem; height: 20rem;" alt="cover_page">
          <div class="card-body flex-fill">
            <h5 class="card-title"><%= book.title%></h5>
            <p class="card-text"><%= book.description %></p>
          <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="submit" onclick="location.href = '/books/<%= book.title %>';" class="btn btn-sm btn-outline-secondary">View</button>
                <button type="submit" onclick="location.href = '/books/<%= book.title %>';" class="btn btn-sm btn-outline-secondary">Buy</button>
              </div>
              <span>
              <small style="font-size:20px"class="text-muted">$<%= book.price %></small>
                <button ><i class="far fa-heart fa-sm"></i></button>

            </span>
            </div>
          </div>
        </div>
      </div>
      <% }) %>
  </div>

</section>

<%- include("partials/footer") %>
