<%- include("partials/header") %>
  <main >
    <!-- Carousel -->
    <section>

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">

      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/images/books1.jpg" class="d-block w-100" alt="img">
        </div>

        <div class="carousel-item">
          <img src="/images/drseuss.jpg" class="d-block w-100" alt="...">
        </div>

        <div class="carousel-item">
          <img src="images/Harry-Potter.png" class="d-block w-100" alt="...">
        </div>

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>

    <!-- Books Block-->
  <section>
    <div class= "container">

      <% books.forEach(function(book){ %>


      <div class="row">

          <div class="col-md-4">

            <div class="card mb-4 shadow-sm style="width: 18rem;">
            <img src="<%= book.image %>" class="card-img-top" alt="cover_page">
            <div class="card-body">
              <h5 class="card-title"><%= book.title%></h5>
              <p class="card-text"><%= book.description %></p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                </div>
                <span>
                <small style="font-size:20px"class="text-muted">$<%= book.price %></small>
                <i class="far fa-heart fa-sm"></i>
              </span>
              </div>
            </div>
          </div>
        </div>
    </div>
  <% }) %>
  </section>
  </main>

  <%- include("partials/footer") %>
